{% extends "layout.html" %}
{% block title %}
<title>Happy Paws - Login</title>
{% endblock %}
{% block content %}
<section id="loginform", class="container page-header py-5">
    <div class="row bg-color rounded-border py-3">
        <form method="POST">
            <h3 align="center">Login</h3>
            <div class="form-outline mb-4">
              {% if error_message %} 
                <div class="container alert alert-danger" role="alert">
                  {{ error_message }}
                </div>
              {% endif %}
            </div>
            <div class="form-outline mb-4">
              <label for="username">Nombre de usuario</label>
              <input
                type="username"
                class="form-control"
                id="username"
                name="username"
                placeholder="juan"
              />
            </div>
            <div class="form-outline mb-4">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="contraseña"
              />
            </div>
            <div class="col">
                <a href="/register">No tenés cuenta todavia? Registrate</a>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</section>
{% endblock %}