* {
    font-family: 'Montserrat';
    color: #222;
}

.bg-color{
    background-color: #f8f9fa;
}

.my-btn{
    color:#fff !important;
}
.gradient{
    background: rgb(0,16,36);
    background: linear-gradient(135deg, rgba(0,16,36,1) 0%, rgba(9,53,121,1) 19%, rgba(0,255,175,1) 100%);
}
.page-header{
    color: #eee;
}
.margin-navbar{
    margin-top: 2rem;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

.my-card-item{
    list-style-type: none;
}

.my-card{
    min-height: 420px;
}

.my-img-card{
    min-height: 290px;
    object-fit: cover;
}

.texto-claro{
    color:#eee;
}

/*  Tabla redonda */

.table-curved {
    border-collapse: separate;
    width:100%;
    border-spacing:0px;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}


.table-curved tr {
    position: relative;
    border-radius: 26px;
    border-collapse: seperate;
    border-spacing: 0;
    background:#f8f8f8;
    background-position-x: 10px;
    padding: 10px 0;
    transition: background .1s;
}
.table-curved tr:hover {
    background:#eee;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.table-curved td:first-child:before {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px 0 0 6px;
    position: absolute;
}
.table-curved td.red:before {
    background:red;
}
.table-curved td.green:before {
    background:green;
}
.table-curved td.blue:before {
    background:blue;
}
.table-curved td.orange:before {
    background:orange;
}
.table-curved td:first-child{
    padding-left: 15px;
}
.table-curved td{
    position: relative;
    border-bottom: 10px solid white;
    border-spacing: 0px;
    padding: 10px;
}

/**/