{% extends "layout.html" %}
{% block title %}
<title>Happy Paws - Agregar mascota</title>
{% endblock %}
{% block content %}
<section id="addpetform", class="container page-header py-5">
    <div class="row bg-color rounded-border py-3">
        <form method="POST">
            <h3 align="center">Agregar mascota<h3>
            <div class="form-outline mb-4">
              {% if error_message %} 
                <div class="container alert alert-danger" role="alert">
                  {{ error_message }}
                </div>
              {% endif %}
            </div>
            <div class="form-outline mb-4">
              <label for="text">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nombre de la mascota"
              />
            </div>
            <div class="form-outline mb-4">
              <label for="breed">Raza</label>
              <input
                type="text"
                class="form-control"
                id="breed"
                name="breed"
                placeholder="Raza de la mascota"
              />
            </div>
            <br/>
            <div class="row">
              <div class="col-md-5"></div>
              <button type="submit" class="col-md-2 btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
