{% extends "layout.html" %}
{% block title %}
<title>Happy Paws - Pets</title>
{% endblock %}
{% block content %}
<section id="mypetstable", class="container page-header py-5">
    <div class="row">
        <table class="table align-middle mb-0 bg-white table-curved">
          <thead class="bg-light">
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Raza</th>
            </tr>
          </thead>
          <tbody>
          {% for pet in pets %}
            <tr>
              <td>{{ pet.id }}</td>
              <td>
                <p class="fw-bold mb-1">{{ pet.name }}</p>
              </td>
              <td>
                <p class="fw-normal mb-1">{{ pet.breed }}</p>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</section>
{% endblock %}
