.my-nav{
    background-color: aquamarine;
}
.my-btn{
    color:#eee !important;
}
.gradient{
    background: rgb(0,16,36);
    background: linear-gradient(135deg, rgba(0,16,36,1) 0%, rgba(9,53,121,1) 19%, rgba(0,255,175,1) 100%);  
}
.page-header{
    margin-top: 2rem;
    color: #eee;
}